@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
        url("./fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
}

:root {
    font-family: Montserrat;
    --color-primary: #05164D;
}

body {
    margin: 0;
}
